<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'testleo',
  props: {
    msg: String
  }
}
</script>

<style lang="scss">
    @import "~@/assets/sass/main.scss"
</style>
